{% extends "CruceoPortalBundle::layout2columns.html.twig" %}

{% block main %}
    <img src="{{ entity.getSlug }}" alt="{{ entity.getNombre }}" title="{{ entity.getNombre }}" />
    <h1>{{ entity.getNombre }}</h1>
    
    
    Nombre	COSTA PACIFICA
Categoría	 
Año de botadura	2009
Registro bruto	114500
Eslora / Manga	290 / 35
Camarotes	1504 (0 Exteriores / 0 Interiores / 0 Suites)
Pasajeros / Tripulación	0 / 0
Corriente eléctrica	220
Monedas	EUR
Idioma	INGLÉS, FRANCÉS, ALEMÁN, ITALIANO
T. Crédito	No
    
    
    
    

    <div id="shipping-company-description">{{ entity.getDescripcion }}</div>

    {% if entity.getCruceros|length %}
    <div id="ships">
        <ul>
        {% for crucero in entity.getCruceros %}
            <li>
                <a href="{{ path('ship_detail', {'slug': crucero.getBarco.getSlug} )}}">{{ crucero.getBarco.getNombre }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}