{% extends "CruceoPortalBundle::layout.html.twig" %}

{% block content %}

<img src="{{ entity.getSlug }}" alt="{{ entity.getNombre }}" title="{{ entity.getNombre }}" />
<h1>{{ entity.getNombre }}</h1>

<div id="shipping-company-description">{{ entity.getDescripcion }}</div>

{% if entity.getCruceros|length %}
<div id="ships">
    <ul>
    {% for crucero in entity.getCruceros %}
        <li>
            <a href="{{ path('ship_detail', {'slug': crucero.getBarco.getSlug} )}}">{{ crucero.getBarco.getNombre }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}