{% extends "CruceoPortalBundle::layout2columns.html.twig" %}

{% block main %}

<div class="detalle_naviera mfcl well">
    <div class="cab">
        <h4>{{ entity.getNombre }}</h4>
    </div>
    <div id="shipping-company-description">
        <img src="{{ asset('bundles/cruceoportal/img/navieras/'~entity.getIcon) }}" alt="{{ entity.getNombre }}" title="{{ entity.getNombre }}" class="thumbnail thumb-shipping" />
        <p>{{ entity.getDescripcion }}</p>
    </div>
</div>

{% endblock %}

{% block second %}

    {% if entity.getBarcos|length %}
        <div id="ships" class="widget der listicon arrow">
            <h3>Barcos</h3>
            <ul>
            {% for ship in entity.getBarcos %}
                <li>
                    <a href="{{ path('ship_detail', {'slug': ship.getSlug} )}}">{{ ship.getNombre }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}
