<div class="offers">
    <div class="highligthed-title">
        <a href="{{ path('cruise_detail', {'slug': offer.getSlug} )}}">{{ offer.getNombre }}</a>
    </div>

    {% for highligthed in offer.getPrecios if highligthed.getDestacado %}
        <div class="highlighted-offer">
            {{ highligthed.getAgencia.getNombre }}<br />
            {{ highligthed.getPrecio }} &euro;
        </div>
    {% endfor %}

    <ul class="normal-offer">
        {% for normal in offer.getPrecios if normal.getDestacado is null %}
            <li>{{ normal.getAgencia.getNombre }}.....{{ normal.getPrecio }} &euro;</li>
        {% endfor %}
    </ul>
</div>