<div class="offers well">
    <div class="highligthed-title cab">
        <h4><a href="{{ path('cruise_detail', {'slug': offer.getSlug} )}}">{{ offer.getNombre }}</a></h4>
    </div>
    <div class="row-fluid">
    {% for highligthed in offer.getPrecios if highligthed.getDestacado %}
            <div class="highlighted-offer span3">
                <a class="thumbnail" href="#"><img src="{{ asset('bundles/cruceoportal/img/barcos/barco2.jpg') }}" alt="Barcopesquero1" title="Barcopesquero1" /></a>
                <div class="agencia"><span>{{ highligthed.getAgencia.getNombre }}</span> &nbsp; <span>{{ highligthed.getPrecio }} &euro;</span></div>
            </div>
    {% endfor %}
            <div class="span7">   
                <ul class="normal-offer thumbnails">
        {% for normal in offer.getPrecios if normal.getDestacado is null %}
                        <li>{{ normal.getAgencia.getNombre }}<span class="precio">{{ normal.getPrecio }} &euro;</span></li>
        {% endfor %}
                </ul>
            </div>
            <div class="agencia span2"><span>nombre agencia</span> &nbsp; <span class="precio pagencia"> 45 &euro;</span></div>
            </div>
 </div>