{% extends "CruceoPortalBundle::layout2columns.html.twig" %}

{% block main %}

<div class="detalle_ciudad mfcl well nobg">
    <div class="cab vpad">
        <h4>{{ entity.getNombre }} <img class="img-circle" src="/cities/barcelona/highligth.png" alt="{{ entity.getPais }}" title="{{ entity.getPais }}" /></h4>
    </div>
     {% if entity.getLugaresTuristicos|length > 0 %}
        <div id="tourist-places-city">
            <p class="lead t-cent">Lugares Turísticos</p>
            {% for place in entity.getLugaresTuristicos %}
            <div class="tourist-place crucitem {{ place.getTiposLugares.getNombre }}">
                <h4>{{ place.getNombre }}</h4>
                <p class="items_city">{{ place.getDescripcion }}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}