{% extends "CruceoPortalBundle::layout3columns.html.twig" %}

{% block left %}
<div id="offers-cruise" class="widget altern listicon arrow">
        <h3>Precios</h3>
        {% for offer in entity.getPrecios if offer.getDestacado %}
        <div class="offer-highligthed-cruise cab light mg">
            {{ offer.getAgencia.getNombre }}<span class="precio fr">{{ offer.getPrecio }} &euro;</span>
        </div>
        {% endfor %}

        <ul class="offers-normal-cruise">
            {% for offer in entity.getPrecios if offer.getDestacado is null %}
                <li>{{ offer.getAgencia.getNombre }}<span class="precio fr">{{ offer.getPrecio }} &euro;</span></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block center %}
<div class="detalle_crucero">
    <div class="cab">
        <h4>{{ entity.getNombre }}</h4>
    </div>

    <div id="zone-cruise" class="crucitem zona">
        <h4>Zona: <span>{{ entity.getZona.getNombre }}</span></h4>
    </div>

    <div id="ship-cruise" class="crucitem barco">
        <h4>Barco: <a href="{{ path('ship_detail', {'slug': entity.getBarco.getSlug} ) }}">{{ entity.getBarco.getNombre }}</a></h4>
    </div>

    <div id="shipping-company-cruise" class="crucitem naviera">
        <h4>Naviera: <a href="{{ path('shipping_detail', {'slug': entity.getBarco.getNaviera.getSlug} ) }}">{{ entity.getBarco.getNaviera.getNombre }}</a></h4>
    </div>

    <div id="duration-cruise" class="crucitem duracion">
        <h4>Duración: <span>{{ entity.getDuracion }} días</span></h4>
    </div>

    <div id="route-cruise" class="crucitem itinerario">
        <h4>Itinerario</h4>
        <div id="route-image-cruise">
            <img src="/{{ entity.getUploadDir ~ '/' ~ entity.getImgItinerario }}" alt="Itinerario {{ entity.getNombre }}" title="Itinerario {{ entity.getNombre }}" />
        </div>

        <table class="table table-bordered table table-striped vmarg">
            <thead>
                <tr>
                    <th>Ciudad</th>
                    <th>Día/s</th>
                    <th>Hora llegada</th>
                    <th>Hora salida</th>
                </tr>
            </thead>
            <tbody>
                {% for cc in entity.getCiudades %}
                <tr>
                    <td>
                        <a href="{{ path('city_detail', {'slug': cc.getCiudad.getSlug}) }}">{{ cc.getCiudad.getNombre }}</a>
                    </td>
                    <td>{{ cc.getDiaCrucero }}</td>
                    <td>{{ cc.getHoraLlegada|date('H:i') }}</td>
                    <td>{{ cc.getHoraSalida|date('H:i') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="details-cruise" class="crucitem detalles">
        <h4>Detalles</h4>
        <p>{{ entity.getDetalles }}</p>
    </div>

    <div id="price-include-cruise" class="crucitem incluido">
        <h4>Incluido en el precio</h4>
        <p>{{ entity.getIncluidoPrecio }}</p>
    </div>

    <div id="price-not-include-cruise" class="crucitem no-incluid">
        <h4>No incluido en el precio</h4>
        <p>{{ entity.getNoIncluidoPrecio }}</p>
    </div>

    {% if entity.getPromocion %}
        <div id="promotion-cruise" class="crucitem promocion">
            <h4>Promoción</h4>
            <p>{{ entity.getPromocion }}</p>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block right %}
{% endblock %}