{% extends "CruceoUserBundle::layoutAdmin.html.twig" %}

{% form_theme form 'CruceoUserBundle:Form:collection_photo.html.twig' %}

{% block js %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('/bundles/cruceouser/js/cruceros.js') }}"></script>
{% endblock %}

{% block content %}
<h1 class="title">Editar Barco</h1>

<form action="{{ path('admin_barcos_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form._token) }}
    <div class="grid_6">
        <fieldset class="form">
            <legend>Datos</legend>

            <div class="mb1 mt1">
                {{ form_label(form.nombre, null, { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.nombre, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.nombre) }}
            </div>

             <div class="mb1">
                {{ form_label(form.categoria, 'Categoría', { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.categoria, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.categoria) }}
            </div>

             <div class="mb1">
                {{ form_label(form.velocidad, null, { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.velocidad, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.velocidad) }}
            </div>

             <div class="mb1">
                {{ form_label(form.manga, null, { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.manga, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.manga) }}
            </div>

             <div class="mb1">
                {{ form_label(form.eslora, null, { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.eslora, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.eslora) }}
            </div>

            <div class="mb1">
                {{ form_label(form.descripcion) }}
                {{ form_widget(form.descripcion) }}
                {{ form_errors(form.descripcion) }}
            </div>
        </fieldset>
    </div>
    <div class="grid_6">
        <fieldset class="form">
            <legend>Fotos</legend>

            <div class="mt1">
                {{ form_widget(form.fotos) }}
                {{ form_errors(form.fotos) }}
            </div>
        </fieldset>
    </div>

    <div class="grid_12 cbutton">
        <div class="grid_6">
            <button type="button" class="delete" id="bDeleteEntity">
                <img alt="Eliminar Barco" src="{{ asset('/bundles/cruceouser/css/images/remove.png') }}"/>Eliminar
            </button>
        </div>
        <div class="grid_6 toright">
            <button type="submit" class="save">
                <img alt="Editar Barco" src="{{ asset('/bundles/cruceouser/css/images/save.png') }}"/>Editar
            </button>
        </div>
    </div>
</form>
<input type="hidden" id="path_generate" value="/{{ entity.getUploadDir }}" />
<form action="{{ path('admin_barcos_delete', { 'id': entity.id }) }}" method="post" id="deleteEntity">
    {{ form_widget(delete_form) }}
</form>
{% endblock %}