{% extends "CruceoUserBundle::layoutAdmin.html.twig" %}

{% form_theme form 'CruceoUserBundle:Form:collection_photo.html.twig' %}

{% block js %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('/bundles/cruceouser/js/cruceros.js') }}"></script>
{% endblock %}

{% block content %}
<h1 class="title">Nuevo Barco</h1>

<form action="{{ path('admin_barcos_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form._token) }}
    <div class="grid_6">
        <fieldset class="form">
            <legend>Datos</legend>

            <div class="mb1 mt1">
                {{ form_label(form.nombre, null, { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.nombre, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.nombre) }}
            </div>

            <div class="mb1">
                {{ form_label(form.naviera, 'Naviera', { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.naviera, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.naviera) }}
            </div>

            <div class="mb1">
                {{ form_label(form.categoria, 'Categoría', { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.categoria, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.categoria) }}
            </div>

            <div class="mb1">
                {{ form_label(form.velocidad, null, { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.velocidad, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.velocidad) }}
            </div>

            <div class="mb1">
                {{ form_label(form.manga, null, { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.manga, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.manga) }}
            </div>

            <div class="mb1">
                {{ form_label(form.eslora, null, { 'attr': { 'class' : 'fl'} }) }}
                {{ form_widget(form.eslora, { 'attr': { 'class' : 'w250'} }) }}
                {{ form_errors(form.eslora) }}
            </div>

            <div class="mb1">
                {{ form_label(form.descripcion) }}
                {{ form_widget(form.descripcion) }}
                {{ form_errors(form.descripcion) }}
            </div>

            <div class="mb1 mt1">
                {{ form_label(form.equipamientos, null, { 'attr': { 'class' : 'collection'} }) }}
                {{ form_widget(form.equipamientos) }}
                {{ form_errors(form.equipamientos) }}
            </div>
        </fieldset>
    </div>
    <div class="grid_6">
        <fieldset class="form">
            <legend>Fotos</legend>

            <div class="mt1">
                {{ form_widget(form.fotos) }}
                {{ form_errors(form.fotos) }}
            </div>
        </fieldset>
    </div>

    <div class="grid_12 tr cbutton">
        <button type="submit" class="save">
            <img alt="guardar" src="{{ asset('/bundles/cruceouser/css/images/save.png') }}"/>Guardar
        </button>
    </div>
</form>
{% endblock %}