<div id="most-wanted-list" class="widget">

    <h3>Los + Buscados</h3>

    <ul class="most-wanted">
        {% for mostwanted in mostwanteds %}
            <li>
                <img src="/cities/{{ mostwanted.search }}/highligth.png" alt="{{ mostwanted.search }}" title="{{ mostwanted.search }}" />
                <a href="{{ path('home_search', { 'text': mostwanted.search }) }}">{{ mostwanted.search }}</a>
            </li>
        {% endfor %}
    </ul>

</div>
