{% extends "CruceoPortalBundle::layout3columns.html.twig" %}

{% block js %}
    {{ parent() }}
<script src="{{ asset('bundles/cruceoportal/js/search.js') }}"></script>
{% endblock %}

{% block center %}
<div id="result-data">
        {% include "CruceoPortalBundle:Partials:results.html.twig" with {'results': results} %}
    </div>
{% endblock %}

{% block left %}
<div id="filters" class="widget nobg">     
<h3>Mejora tu búsqueda</h3> 
<div id="accfilters"class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accfilters" href="#barcos">
                <i class="icon-chevron-down"></i> Categorías barcos
            </a>
        </div>
        <div id="barcos" class="accordion-body collapse in">
            <div id="filter-category-ships" class="accordion-inner">
                <ul>
      
        {% for category in categories %}
                        <li attr-data="{{ category.getId }}"><label class="checkbox"><input type="checkbox" value="{{ category.getNombre }}">{{ category.getNombre }}</label></li>
        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accfilters" href="#camarotes">
                    <i class="icon-chevron-down"></i> Camarotes
                </a>
            </div>
            <div id="camarotes" class="accordion-body collapse in">
                <div id="filter-cabin" class="accordion-inner">
                    <ul>
        {% for cabin in cabins %}
                            <li attr-data="{{ cabin.getId }}"><label class="checkbox"><input type="checkbox" value="{{ cabin.getNombre }}">{{ cabin.getNombre }}</label></li>
        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>           
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accfilters" href="#equipamientos">
                        <i class="icon-chevron-down"></i> Equipamientos
                    </a>
                </div>
                <div id="equipamientos" class="accordion-body collapse in">
                    <div id="filter-equipaments" class="accordion-inner">
                        <ul>
        {% for equipment in equipments %}
                                <li attr-data="{{ equipment.getId }}"><label class="checkbox"><input type="checkbox" value="{{ equipment.getNombre }}">{{ equipment.getNombre }}</label></li>
        {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div> 

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accfilters" href="#navieras">
                            <i class="icon-chevron-down"></i> Navieras
                        </a>
                    </div>
                    <div id="navieras" class="accordion-body collapse in">
                        <div id="filter-equipaments" class="accordion-inner">
                            <ul>
        {% for company in companies %}
                                    <li attr-data="{{ company.getId }}"><label class="checkbox"><input type="checkbox" value="{{ company.getNombre }}">{{ company.getNombre }}</label></li>
        {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>             
                </div>
            </div>

<script>
    $('.accordion').on('show hide', function(e){
    $(e.target).siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-chevron-down icon-chevron-right', 200);
});
</script>


            <div id="searching">
                <form id="f-filters" name="f-filters" method="post" action="#">
                    <input type="hidden" name="f-str" id="f-str" value="{{ data.str }}"/>
                    <input type="hidden" name="f-start" id="f-start" value="{{ data.start }}"/>
                    <input type="hidden" name="f-zone" id="f-zone" value="{{ data.zone }}"/>
                    <input type="hidden" name="f-zone" id="f-duration" value="{{ data.duration }}"/>
                    <input type="hidden" name="f-category" id="f-category" value=""/>
                    <input type="hidden" name="f-cabin" id="f-cabin" value=""/>
                    <input type="hidden" name="f-equipament" id="f-equipament" value=""/>
                    <input type="hidden" name="f-shipping" id="f-shipping" value=""/>
                </form>
            </div>
{% endblock %}