<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {% block title %}CRUCEO BACKOFFICE{% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cruceouser/css/960/reset.css') }}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cruceouser/css/960/960.css') }}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cruceouser/css/text.css') }}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cruceoportal/css/jquery/jquery-ui.css') }}" media="all" />
        <link rel="stylesheet/less" type="text/css" href="{{ asset('bundles/cruceouser/css/login.less') }}" media="all" />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="{{ asset('bundles/cruceoportal/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/cruceouser/js/less.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
