{% block collection_widget %}
{% spaceless %}
{% if prototype is defined %}
{% set attr = attr|merge({'data-prototype': block('collection_tourist_places_widget') }) %}
{% endif %}
<div {{ block('widget_container_attributes') }}>
    <div class="error">{{ form_errors(form) }}</div>
    {% set n = 0 %}
    {% for rows in form %}
    {% set idw = id ~ '_' ~ n %}
    <div id="{{ idw }}">
        {% for row in rows %}
        {% set label = row.vars.name == 'tiposLugares' ? 'Tipo de lugar' : null %}
        {% set cssClass = row.vars.name == 'descripcion' ? null : 'fl' %}
        {% set lineBreak = row.vars.name == 'descripcion' ? '<br />' : '' %}
        <div class="mb1">
            {{ form_label(row, label, { 'attr': { 'class': cssClass }}) }}
            {{ lineBreak|raw }}
            {{ form_widget(row) }}
        </div>
        {% endfor %}
        <div class="mt1">
            <button type="button" class="remove" data-remove="{{ idw }}">
                <img src="/bundles/cruceouser/css/images/remove.png"/>Eliminar
            </button>
        </div>
        <hr class="separator" />
    </div>
    {% set n = n + 1 %}
    {% endfor %}
    {{ form_rest(form) }}
</div>
<div class="tr">
    <button class="add_tourist_place" type="button">
        <img alt="añadir lugar" src="{{ asset('/bundles/cruceouser/css/images/add.png') }}"/>Añadir lugar turístico
    </button>
</div>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_tourist_places_widget %}
{% spaceless %}
{% set idw = id ~ '_$$name$$' %}
<div id="{{ idw }}">
    {% for row in prototype %}
    {% set label = row.vars.name == 'tiposLugares' ? 'Tipo de lugar' : null %}
    {% set cssClass = row.vars.name == 'descripcion' ? null : 'fl' %}
    {% set lineBreak = row.vars.name == 'descripcion' ? '<br />' : '' %}
    <div class="mb1">
        {{ form_label(row, label, { 'attr': { 'class': cssClass }}) }}
        {{ lineBreak|raw }}
        {{ form_widget(row) }}
    </div>
    {% endfor %}
    <div class="mt1">
        <button type="button" class="remove" data-remove="{{ idw }}">
            <img src="/bundles/cruceouser/css/images/remove.png"/>Eliminar
        </button>
    </div>
    <hr class="separator" />
</div>
{% endspaceless %}
{% endblock collection_tourist_places_widget %}